@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#soon {
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(247, 241, 241);
  height: 100vh;
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;

  text-align: center;
}
li {
  display: table-cell;

  padding: 15px 0;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  color: black;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(172, 59, 159);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 50%;
  left: 23%;
}

.title-container {
  text-align: center;
  margin: 0 auto;
}

.title-text {
  font-size: 100px;
  text-align: center;
  padding-top: 100px;
}

.title-text h1 {
  color: #000000;
}

.title-text #dot {
  color: #fd746c;
}

.title-text p {
  color: rgb(172, 59, 159);
}

.title-text h2 {
  color: #fd746c;
}

#arrowDown-one {
  font-size: 100px;
}

#arrowDown-one:hover {
  cursor: pointer;
}

.contact-container {
  text-align: center;
}

.spam-box {
  text-align: center;
}
